* {
    box-sizing: border-box;
}

.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 30%;
    z-index: 100;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    right: 0;
    display: flex;
    justify-content: end;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field {
    width: 100%;
    margin: 10px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

lable {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-event-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    width: 70%;
}