.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 60%;
    z-index: 100;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.field,
.checkbox-field,
.date-time-fields {
    width: 100%;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

textarea {
    height: 100px;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.date-time-fields {
    display: flex;
    gap: 10px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-event-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
