/* Frame generale */
.frame {
    display: flex;
    height: 100vh;
}

/* Contenuto principale (a destra della sidebar) */
.frame-content {
    margin-left: 80px;
    /* Si adatta alla larghezza della sidebar */
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s ease;
    background-color: var(--background-color);
}

/* Quando la sidebar è espansa, sposta il contenuto principale */
.frame .sidebar.expanded+.frame-content {
    margin-left: 200px;
    /* Larghezza della sidebar espansa */
}